.login-container {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    height: 100vh;
    background-image: url("../images/wall.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .login-form {
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 20px; /* Increased border radius */
    color: white;
    width: 500px;
    margin-right: 70px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .login-form form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form h1 {
    margin-bottom: 20px;
  }
  
  .login-form input,
  .login-form button,
  .login-form a {
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Black with transparency */
    color: white; /* Text color */
    border: 1px solid white; /* White border */
    border-radius: 20px; /* Border radius */
    padding: 10px;
    padding-left: 30px; /* Add padding for the icon */
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    background-color: transparent; /* Transparent background */
  }
  
  .login-form input[type="submit"] {
    cursor: pointer;
    background-color: orange; /* Orange button background color */
  }
  
  .login-form input[type="submit"]:hover {
    background-color: #ffa500; /* Hover state background color */
  }
  
  .login-form a {
    color: white;
    text-decoration: none;
  }
  
  .login-form a:hover {
    text-decoration: underline;
  }
  